
<u-moblet is-loading="isLoading" init="init">
    <div id="wraper" u-make-frame-min-size >
      <div id="zoom-map" class="zoom-button" ng-style="{'height':zoomMapButtonHeight}" ng-click="zoomMap()">
        <p><span>{{zoomMapButton}}</span></p>
      </div>
    <div id="m-map-{{moblet.id}}" class="map" ng-click="zoomMap()" ng-style="{'height':mapHeight}"></div>
    <div id="zoom-list" class="zoom-button" ng-style="{'height':zoomListButtonHeight}" ng-click="zoomList()">
      <p><span>{{zoomListButton}}</span></p>
    </div>
    <div class="address" direction="y" ng-style="{'height':listHeight}" ng-click="zoomList()">
      <div class="list">
          <div class="item" href="#" style="height: 100px;" ng-repeat="(key, location) in mapData.locations">
            <h2>{{location.title}}</h2>
            <p>{{location.description}}</p>
            <p>{{location.address}}</p>
          </div>
      </div>
    </div>
    </div>
</u-moblet>
