m-map {
  .map , .address {
    transition: all 0.5s ease-in-out;
  }
  #open-list {
    // transition: all 0.5s ease-in-out;
    .ng-enter, .ng-leave {
      transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 100s;
    }
    .ng-enter, .ng-leave.ng-leave-active {
      opacity:0;
    }
    .ng-leave, .ng-enter.ng-enter-active {
      opacity:1;
    }
  }
}
