m-map {
  .map , .address, .zoom-button{
  }
  .item {
  }
  .address {
    overflow-y: scroll;
  }
  #zoom-map {
    border-bottom-width: 1px;
  }
  #zoom-list {
    border-top-width: 1px;
  }
  .zoom-button {
    background-color: white;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-style: solid;
    border-color: #aaa;
    text-align: -webkit-center;

    .zoom-buttom-wraper {
      display: table-cell;
      vertical-align: middle;
    }
    p {
      margin: 0;
    }

    .ng-enter, .ng-leave.ng-leave-active {
      opacity:0;
    }

    .ng-leave, .ng-enter.ng-enter-active {
      opacity:1;
    }
  }
}
