
<div id="wraper">
  <!--<div id="zoom-map" ng-style="{'height':zoomMapButtonHeight}" ng-click="zoomMap()">
     <div class="action-buttom m-theme-title-color" ng-style="{'height':zoomListButtonHeight}">
      <i class="icon ion-chevron-down"></i>
      <p translate="zoom_map"  ng-style="{'height':zoomListButtonHeight}" class="m-theme-title-color">
    </div>
  </div>-->
  <div id="m-map-{{moblet.instance.id}}" ng-style="{'height':mapHeight}"></div>
  <div id="zoom-list" class="m-theme-primary-bg" ng-style="{'height':zoomListButtonHeight}"  ng-click="zoomToogle()">
    <div class="action-buttom m-theme-title-color" ng-style="{'height':zoomListButtonHeight}" ng-class="{'listed':listZooned}">
      <i class="icon ion-chevron-up m-theme-title-color" ng-if="!listZooned"></i>
      <i class="icon ion-chevron-down m-theme-title-color" ng-if="listZooned"></i>
      <p translate="zoom_list"  ng-style="{'height':zoomListButtonHeight}" ng-if="!listZooned" class="m-theme-title-color"></p>
      <p translate="zoom_map"  ng-style="{'height':zoomListButtonHeight}"  ng-if="listZooned" class="m-theme-title-color"></p>
      
    </div>
  </div>
   <div id="m-map-list" ng-style="{'height':listHeight}" >
    <div class="list">
        <div class="item item-icon-right" ng-repeat="(key, location) in mapData.locations">
          <h2 ng-click="zoomMap()">{{location.title}}</h2 >
          <p ng-click="zoomMap()">{{location.address}}</p>
          <div ng-if="iOsStandalone">
            <a ng-href="{{ getExternalMapLink(key) }}" target="_blank">
              <i class="icon ion-ios-navigate"></i>
            </a>
          </div>
          <div ng-if="!iOsStandalone">
            <i class="icon ion-ios-navigate" ng-click="openLocation(key)"></i>
          </div>
        </div>
    </div>
  </div>
</div>